<h1>{{servidor}}</h1>

<div class="container">
  <form action="http://localhost:3000/dash/{{servidorID}}/prefix" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">prefix</label>
      <input
        type="text"
        class="form-control"
        id="prefix_form"
        aria-describedby="emailHelp"
        name="prefix_form"
      />
    </div>
    {{#if guild}}
      <button type="submit" class="btn btn-secondary">Actualizar</button>
      <button type="submit" class="btn btn-danger">Eliminar</button>
    {{else}}
      <button type="submit" class="btn btn-primary">Enviar</button>
    {{/if}}
  </form>


  <form action="http://localhost:3000/dash/{{servidorID}}/logs" method="post">
    <label class="form-label" for="channellogs">Selecciona el canal de logs</label>
    <select class="form-control" id="channellogs" name="logs">
        <option value="false">selecciona el canal</option>
      {{#each channel}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

</div>